@using EmployesCRUD.ViewModels;
@model EmployeeAddResponseViewModel
@{
    Layout = "_AdminLayout";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <p class="text-muted mb-0">Add New Employee.</p>
        </div><!--end card-header-->
        <div class="card-body">
            <form asp-controller="Employee" asp-action="Add" method="POST">
                <div class="form-group">
                    <label asp-for="Name">Employee Name:</label>
                    <input asp-for="Name" type="text" class="form-control" id="employeeName" placeholder="Enter employee name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Surname:</label>
                    <input asp-for="Surname" type="text" class="form-control" id="surname" placeholder="Enter surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherName">Father name:</label>
                    <input asp-for="FatherName" type="text" class="form-control" id="fatherName" placeholder="Enter name">
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FINcode">FIN code:</label>
                    <input asp-for="FINcode" type="text" class="form-control" id="fincode" placeholder="Enter FIN code">
                    <span asp-validation-for="FINcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email adress:</label>
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="employeeDepartment">Department:</label>
                    <select asp-for="DepartmentId" id="employeeDepartment" class="form-control">
                        @foreach (var department in Model.DepartmentList)
                        {
                            <option value="@department.Id">@department.Name</option>

                        }
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Add Employee</button>
            </form>
        </div><!--end card-body-->
    </div><!--end card-->
</div>